# --- For-Bot-Working --------- #
TgCrypto
# --- For-Database ------------ #
pymongo
motor
umongo
dnspython
marshmallow
git+https://github.com/vpcreatz/pyrofork-adv.git
# --- For-Web-Response ------- #
pytz
requests
bs4
shortzy
aiohttp
aiofiles
asyncio
